<div style="max-width: 800px; margin: auto; padding: 2rem;">
  <h1>Language Agnostic Visualization App</h1>

  <label>Language:</label>
  <select [(ngModel)]="language">
    <option value="python">Python</option>
    <option value="r">R</option>
  </select>

  <br /><br />

  <label>Code:</label><br />
  <textarea [(ngModel)]="code" rows="10" style="width: 100%;"></textarea>

  <br /><br />
  <button (click)="generateChart()">Generate</button>

  <br /><br />

  <div *ngIf="loading">Generating chart...</div>
  <div *ngIf="errorMsg" style="color: red;">{{ errorMsg }}</div>

  <iframe *ngIf="iframeUrl" [src]="iframeUrl" width="100%" height="500px" style="border: none;"></iframe>
</div>
